<div class="container">
  <div class="header">
    <p id="notice"><%= notice %></p>
    <h1>Employees</h1>
  <button type="button" class="btn btn-info">
<%= link_to 'New Employee', new_employee_path %><span class="badge badge-light"></span>
  <span class="sr-only">new store</span>
</button><br><br>
    
  </div>
  <div class="row">
    <% @employees.each do |employee| %>
   <% if employee.first_name != "" %>
    <div class="card card-employee col-6" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= employee.first_name %>, <%= employee.last_name %></h5>
        <p class="card-text"><%= employee.description %> <br><br><%=- employee.role %> <br><br> <%= employee.status %><br><br> <%= employee.department %></p>
        
        
        
        <button type="button" class="btn btn-primary"><%= link_to 'Show', employee %><span class="badge badge-light"></span>
<span class="sr-only">Show</span></button>

        <button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_employee_path(employee) %><span class="badge badge-light"></span>
  <span class="sr-only">Edit</span>
</button>

        <button type="button" class="btn btn-danger">
<%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %><span class="badge badge-light"></span>
  <span class="sr-only">Destroy</span>
</button>

      </div>
</div>
</a>

    <% end %>
<% end %>
    </div>
  </div>
