<div class="container">
  <div class="header">
    <p id="notice"><%= notice %></p>
    <h1>Reviews</h1>
  <button type="button" class="btn btn-info">
<%= link_to 'New Review', new_review_path %><span class="badge badge-light"></span>
  <span class="sr-only">new store</span>
</button><br><br>
    
  </div>
  <div class="row">
    <% @reviews.each do |reviews| %>
   <% if reviews.note != "" %>
    <div class="card card-review col-6" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= reviews.store_id %></h5>
        <p class="card-text"><%= reviews.note %></p>
        
        
        
        <button type="button" class="btn btn-primary"><%= link_to 'Show', reviews %><span class="badge badge-light"></span>
<span class="sr-only">Show</span></button>

        <button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_review_path(reviews) %><span class="badge badge-light"></span>
  <span class="sr-only">Edit</span>
</button>

        <button type="button" class="btn btn-danger">
<%= link_to 'Destroy', reviews, method: :delete, data: { confirm: 'Are you sure?' } %><span class="badge badge-light"></span>
  <span class="sr-only">Destroy</span>
</button>

      </div>
</div>
    <% end %>
<% end %>
    </div>
  </div>