<div class="container">
  <div class="header">
    <p id="notice"><%= notice %></p>
    <h1>Departments</h1>
  <button type="button" class="btn btn-info">
<%= link_to 'New Department', new_department_path %><span class="badge badge-light"></span>
  <span class="sr-only">new store</span>
</button><br><br>
    
  </div>
  <div class="row">
    <% @departments.each do |department| %>
   <% if department.store_id != "" %>
    <div class="card card-department col-6" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= department.name %>, <%= department.store %></h5>
        <p class="card-text"><%= department.description %></p>
        
        
        
        <button type="button" class="btn btn-primary"><%= link_to 'Show', department %><span class="badge badge-light"></span>
<span class="sr-only">Show</span></button>

        <button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_department_path(department) %><span class="badge badge-light"></span>
  <span class="sr-only">Edit</span>
</button>

        <button type="button" class="btn btn-danger">
<%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %><span class="badge badge-light"></span>
  <span class="sr-only">Destroy</span>
</button>

      </div>
</div>
</a>

    <% end %>
<% end %>
    </div>
  </div>

