<div class="container">
  <div class="header">
    <p id="notice"><%= notice %></p>
    <h1>Stores</h1>

  <button type="button" class="btn btn-info">
<%= link_to 'New Store', new_store_path %><span class="badge badge-light"></span>
  <span class="sr-only">new store</span>
</button><br><br>
  </div>
  <div class="row">
    <% @stores.each do |store| %>
   <% if store.name != "" %>
    <div class="card card-store col-6" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= store.name %>, <%= store.url %></h5>
        <p class="card-text"><%= store.description %> <br><br><%=- store.address %>, <%=- store.city %>, <%=- store.state %>, <%=- store.zip %>, <%=- store.country %></p>
        
        <button type="button" class="btn btn-primary"><%= link_to 'Show', store %><span class="badge badge-light"></span>
<span class="sr-only">Show</span></button>

        <button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_store_path(store) %><span class="badge badge-light"></span>
  <span class="sr-only">Edit</span>
</button>

        <button type="button" class="btn btn-danger">
<%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %><span class="badge badge-light"></span>
  <span class="sr-only">Destroy</span>
</button>

      </div>
</div>
</a>

    <% end %>
<% end %>
    </div>
  </div>
